  <%= f.error_messages %>
  <p>
  	<%= f.label(:description, "Description") %><br>
	<%= f.text_field(:description) %>
  </p>

  <p>
  	<%= f.label(:file, "Fichier") %><br>
	<%= f.file_field(:file) %>
  </p>

