<h1>Information sur le client</h1>
<% form_for :application_client, @application_client , :url=>{:controller=>"applications", :action=>"valid_edit_client"}, :html=>{:method=>:get} do |f| %>
  		<%= f.error_messages %>
		<p>
			<%= f.label(:serial) %> : <br>
			<%= f.text_field :serial %>
		</p>

		<p>
			Nom de l'utilisateur : <br>
			<%= text_field(:users, :username) %>
		</p>

		<p>
			Mot de passe : <br>
			<%= text_field(:users, :password) %>
		</p>

		<p>
		<%= f.label(:mac, "Adresse Mac") %> : <br>
		<%= f.text_field :mac %>
		</p>

		<%= f.submit "valider" %>
<% end %>
