<%= javascript_include_tag "multiplecheckboxjs/js" %>

<div class='div_class_groupapps'>
   <% unless params[:groupapp_id].nil? && params[:arrow].nil? %>
    <div class='class_back_all_apps'>
		<%= link_to(t("applications.return_all_apps"), applications_url) %>
    </div>
   <% end %>
    <div class='class_select_group_apps'>
	<span class='span_class_select_groups'><%= t("applications.select_group") %></span>
	<ul class='ul_class_groupapps'>
		<% Groupapp.all.collect{ |groupapp| %>
			<% content_tag_for :li, groupapp, :class=>"#{!params[:groupapp_id].nil? && params[:groupapp_id].to_i == groupapp.id ? "class_groupapps_select" : "class_groupapps"}" do %>
				<% tab_applications = groupapp.applications.find :all %>
				<% compteur_etat_application = 0 %>
				<% tab_applications.each{ |application| %>
					<% last_ping = application.pings.find :last %>
					<% compteur_etat_application += last_ping.nil? || ( Time.now - last_ping.created_at ) > 600 ? 0 : 1  %>
				<% } %>
				<%= link_to "<span class='class_groupapp_name'>#{groupapp.name}</span><br>
				<span class='class_detail_groupapps'>Créé le :</span> <span class='class_result_detail_groupapps'>#{groupapp.created_at}</span><br>
				<span class='class_detail_groupapps'>Nombre de bornes :</span> <span class='class_result_detail_groupapps'>#{groupapp.applications.count}</span><br>
				<span class='class_detail_groupapps'>nombre de bornes actives:</span> <span class='class_result_detail_groupapps'>#{compteur_etat_application}</span>", {:controller=>"applications", :action=>"index", :groupapp_id=>groupapp.id}, :class=>"class_liens_select_groupapps" %>
				Groupes d'utilisateurs accèdant à cette application : 
				<% groupapp.roles.each{ |role| %>
					<%= "#{role.name}," %>
				<% } %>
				...<br><%= link_to "Editer", edit_groupapp_path(groupapp) %>
			<% end %>	
		<% } %>
	</ul>

	<ul class='ul_class_groupapps'>
		<% if current_user.role_id == 1 %>
			<% Role.all.collect{ |role| %>
				<%= render(:partial => "/applications/templates/tab_liste_role", :locals =>{ :role => role}) %>
				<% content_tag_for :li, role do %>
					<%= role.name %>
				<% end %>
			<% } %>
		<% else %>
			<% Role.find(:all, :conditions=>"role_id=#{current_user.role_id}").each{ |role| %>	
				<%= render(:partial => "/applications/templates/tab_liste_role", :locals =>{ :role => role}) %>
			<% } %>
		<% end %>
	</ul>
    </div>
</div>

<div class='div_class_menu_apps'>
<% form_for :choix_edit_application, :url=>{:controller=>"applications", :action=>"edit_select"} do |choix_edit_application| %>
	<table width='830px' class='table_class_liste_application' cellpadding='0' cellspacing='0'>
		<tr class='colonne_titre'>
	  		<td class='colonne_general_first' width='60px'><%= t("tab_app.etat") %>
			<ul class='class_liste_arrow'>
				<li>
					<%= link_to image_tag("img_general/arrow_up_bis.png"), :controller=>"applications", :action=>"index", :arrow=>"up" %></li>
				<li> 
					<%= link_to image_tag("img_general/arrow_down_bis.png"), :controller=>"applications", :action=>"index", :arrow=>"down" %>
				</li>
			 </ul>
			</td>
	  		<td class='colonne_general' width='155px'><%= t("tab_app.nom_application") %></td>	
			<td class='colonne_general' width='115px'><%= t("tab_app.fichiers") %></td>	
	  		<td class='colonne_general' width='105px'><%= t("tab_app.pings") %></td>
	  		<td class='colonne_general' width='140px'><%= t("tab_app.mac") %></td>
			<td class='colonne_general' width='140px'><%= t("tab_app.update")%>
			<ul class='class_liste_arrow'>
				<li>
					<%= link_to image_tag("img_general/arrow_up_bis.png"), :controller=>"applications", :action=>"index", :datetime=>"up" %></li>
				<li> 
					<%= link_to image_tag("img_general/arrow_down_bis.png"), :controller=>"applications", :action=>"index", :datetime=>"down" %>
				</li>
			 </ul>
			</td>
	  		<td class='colonne_general_fin'><%= current_user.role_id == 1 ? choix_edit_application.submit(t("tab_app.button_sup"), :name=>"sup_ensemble_applications", :confirm=>"Etes-vous sur de vouloir supprimer l'ensemble de ces applications ?") : "" %></td>
        	</tr>
	</table>

<ul id='applications' class='applications_css' style='float:left;'>
  <% @applications.each do |application| %>	
		  <%
			  #last_ping = Ping.find :last, :conditions=>"application_id=#{application.id}"
			  last_ping = application.pings.find :last
		  %>
 <% unless application.users.id == current_user.id %>
  <% content_tag_for :li, application do %>
        <table width='830px' class='table_class_liste_application' cellpadding='0' cellspacing='0'>
		<tr class='contenu_colonne_titre'>
	  	 <td class='contenu_colonne_general_first' style='text-align:center;' width='60px'>
		  <% unless last_ping.nil? %>
			  <%= image_tag("img_general/#{( Time.now - last_ping.created_at ) < 600 ? 'green.png' : 'red.png' }") %>
		  <% else %>
			  <%= image_tag("img_general/red.png") %>
		  <% end %>
	  	</td>
	  		<td class='contenu_colonne_general' width='155px'><%= current_user.role_id == 1 ? link_to(application.name.empty? ? t("tab_app.no_name") : application.name, edit_application_path(application), :class=>"class_link_apps_name") : application.name.empty? ? "pas de nom" : application.name %><br><span class='span_class_application_serial'><%= application.serial %></span></td>	
			<td  class='contenu_colonne_general' width='115px'><%= application.avoirs.find(:first, :conditions=>"currentversion=1").nil? ? t("tab_app.any_file") : application.avoirs.find(:first, :conditions=>"currentversion=1").fichiercompression.description.nil? ?  application.avoirs.find(:first, :conditions=>"currentversion=1").fichiercompression.file_file_name : application.avoirs.find(:first, :conditions=>"currentversion=1").fichiercompression.description %><%= link_to image_tag("applications/plus.png", :size=>"20x20", :style=>"border:0px;float:right;"), {:controller=>"fichiercompressions", :action=>"index", :id=>application.id} %></td>		
	  	<td class='contenu_colonne_general' width='105px'>
		  	<%= last_ping.nil? ? t("tab_app.etat_ping") : last_ping.status %><%= link_to image_tag("applications/plus.png", :size=>"20x20", :style=>"border:0px;float:right;"), {:controller=>"javascript", :action=>"pings", :id=>application.id}, :class=>"class_liens_liste_pings" %>
	  	</td>
	  		<td class='contenu_colonne_general' width='140px' style='text-align:center;'><%= application.mac.nil? ? image_tag("img_general/red.png") : application.mac %></td>
			<td class='contenu_colonne_general' width='140px'><%= application.updated_at.strftime(I18n.locale == :fr ? '%d-%m-%Y %H:%M:%S' : '%Y-%m-%d %I:%M:%S') %></td>
	  		<td class='contenu_colonne_general_fin' style='text-align:center;'><%= check_box_tag("choix_edit_application[application_id][]", application.id) %></td>
          </tr>
	</table>
   <% end %>
  <% end %>
 <% end %>
</ul>
		<%= #choix_edit_application.submit t("tab_app.button_app_edit"), :name=>"edit_applications_selections" if current_user.role_id == 1 
		%>
		<%= 
		#choix_edit_application.submit t("tab_app.button_app_drop"), :name=>"sup_ensemble_applications", :confirm=>"Etes-vous sur de vouloir supprimer l'ensemble de ces applications ?" if current_user.role_id == 1 
 		%>
  <% end %>
<%= sortable_element("applications", :url=>{:controller=>"applications", :action=>"sort"}) %>
<ul class='class_menu_bas_apps'>
	<li>
		<% form_for :application_search, @application_search, :url=>{:controller=>"applications", :action=>"show"} do |f| %>
				<%= f.label(:serial, t("applications.search_apps")) %>
				<%= text_field_with_auto_complete :application_search, :serial,{ :size => 15 }, {:url => {:controller=>"applications", :action=>"search_auto_completion"}, :method => :get, :with => "'search=' + element.value" } %>
			<%= f.submit "Valider" %>
		<% end %>
	</li>

	<li class='li_class_pagination'>
		<%= will_paginate @applications %>
	</li>
</ul>
</div>
<%= 
#render :partial=>"/applications/templates/dock_app" 
%>

