<h1><%= t("general.connect") %></h1>

<% form_for(@user_session) do |f| %>
	<% 
		#f.error_messages 
	%>

  <p>
    <%= f.label :username, t("activerecord.attributes.user.username") %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password, t("activerecord.attributes.user.password") %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit t("general.connect") %>
  </p>
<% end %>

